.app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.home-page {
 
  background-image: url('../../public/image.jpeg'); /* Adjust the path accordingly */
  background-size: cover;
  
}

/* Additional styles for your home page content */
.home-page h1 {
  font-size: 2em;
  /* Add any additional styles specific to the home page */
}
.tile {
  width: 200px;
  height: 150px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.home-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}

.home-button:hover {
  background-color: #2980b9;
}
.center-top-content {
  text-align: center;
  color: red; /* Set the text color to red */
  margin-top: 20px; /* Adjust the top margin as needed */
}
/* Add more specific styling if needed */
h1 {
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
}