.ingredient-card {
  width: 150px;
  height: 200px;
  perspective: 1000px;
  margin: 20px;
  border: 1px solid #ddd;
  transition: width 0.5s, height 0.5s, box-shadow 0.5s; /* Added box-shadow transition */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3); /* Light blue highlight */
}

.ingredient-card:hover {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); /* Increased shadow on hover */
}

.ingredient-card:hover .ingredient-details {
  transform: rotateY(180deg);
}

.ingredient-details {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredient-name {
  margin-bottom: 10px;
  text-align: center;
}

.nutrition-info {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
}
