/* MealPlan.css */

.meal-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 50%;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

select {
  height: 100px; /* Adjust height as needed */
}

button {
  margin-top: 5px;
  cursor: pointer;
  
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.meal{
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}
.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.recipe-card p {
  margin-bottom: 8px;
  font-size: 14px;
}
